@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700');

*{
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

#blink {
    animation: 600ms blinkAnimation infinite;
    padding: 1.4px;
    background-color: black;
    margin-left: 15px;
}
@keyframes blinkAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@tailwind base;
@tailwind components;
@tailwind utilities;